@import url('https://fonts.googleapis.com/css?family=changa:400,700&subset=arabic');
body{
    background-color:white;
}
#navbarSupportedContent{
    background-color:black;
    color:white;
    border:2px solid black;
    width:100%;
}
a{
    color:white;
}
#sub{
    background-color:white;
    border:2px solid black;
    color:black;
}
#inputName{
   
    border:none;
    border:1px solid black;
    border-radius:5px;

}
#inputPhone{
    border:none;
    border:1px solid black;
    border-radius:5px;

}
#inputEmail{
    border:none;
    border:1px solid black;
    border-radius:5px;

}
#inputPassword{
    border:none;
    border:1px solid black;
    border-radius:5px;

}
#h3{
    color:black;
}
#inputEmail::placeholder{
    color:black;
    content:البريد الالكتروني;

}
#inputEmail:checked{
    box-decoration-break:none;
}
#inputPassword::placeholder{
    color:black;

}
#inputName1{
    border:1px solid black;
}
#inputName2{
    border:1px solid black;
    
}
#inputName1::placeholder{
    color:black;
}
#inputName2::placeholder{
    color:black;
}
#label1{
    color:black;
    margin-left:5px;
}
#label2{
    color:black;
}
#label3{
    color:black;
}
#label4{
    color:black;
}
#afe{
    position:absolute;
    left:500px;
    top:690px;
}
#button{
    border:none;
    color:red;
}
@font-face{
    font-family: change;
    src:url();
}
#dd {
    font-family: changa;
    font-variation-settings: 'wdth' 400, 'wght' 98;
  }
@media only screen and (min-width:700px) and  (max-width: 1300px){
    #navbarSupportedContent{
        position:relative;
        width:100px;
        
        left:900px;
    }

}


@media only screen and (min-width:0px) and  (max-width: 500px){
    #afe{
        left:78px;
        top:630px;
    }
    #afe{
        align-self: auto;
    }

}
@media only screen and (min-width:320px) and  (max-width: 350px){
    #afe{
        left:40px;
        top:650px;
    }
}
@media only screen and (min-width:351px) and  (max-width: 390px){
    #afe{
        left:60px;

    }
}
@media only screen and (min-width:450px) and  (max-width: 490px){
    #afe{
        left:90px;
    }
}