body{
    background-color:white;
}
#afe{
    position:absolute;
    left:500px;
    top:600px;
}
#label4{
    color:black;
}
#sub{
    background-color:white;
    border:2px solid black;
    color:black;
}
#inputEmail{
    border:1px solid black;
}
@media only screen and (min-width:0px) and  (max-width: 500px){
    #afe{
        left:78px;
        top:550px;
    }
    #afe{
        align-self: auto;
    }

}
@media only screen and (min-width:320px) and  (max-width: 350px){
    #afe{
        left:40px
    }
}
@media only screen and (min-width:351px) and  (max-width: 390px){
    #afe{
        left:60px;

    }
}
@media only screen and (min-width:450px) and  (max-width: 490px){
    #afe{
        left:90px;
    }
}